@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    -ms-box-shadow: $property;
    -o-box-shadow: $property;
    box-shadow: $property;
    border-collapse: separate;
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}




@mixin max-xs {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin max-sm {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin max-md {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin max-lg {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
}


