// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	transition: opacity 300ms;
	background: #f7f7f7 url('/assets/gif/transparent-loader.gif') no-repeat center;
}

.epureCheckbox {
	margin: 2px 0;
	margin-right: 0;
	user-select: none;
	padding-left: 0;
}
.epureCheckbox input {
	display: none;
}

.epureCheckbox label {
	width: 4ch;
	text-align: center;
	padding: 5px;
	cursor: pointer !important;
}

.epureCheckbox label::before {
	cursor: pointer !important;
	left: 50%;
	top: 50%;
	height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
	background: none ;
}

.epureCheckbox label::after {
	content: none;
}

.epureCheckbox input:checked ~ label::before {
	background: rgba(52, 144, 220, 0.569) !important;
	border-color: rgba(52, 144, 220, 0.569) !important;
}

// .epureCheckbox label:before {