@import 'func';
@import 'variables';


body {
    background: #fff;
}


@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@include max-sm {
    // @import 'mobile';
}
@include md {
    @import 'large';
}