body {
  overflow-x: hidden;
  background: #fff;
  width: 100vw !important;
}

header {
  position: relative;
  background: var(--mw3);
}

header nav {
  height: 70px;
}

header .collapsing {
  display: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

header .navbar-toggler {
  outline: none;
}

header .navbar-toggler[aria-expanded=true] {
  z-index: 1001;
  position: fixed;
}

header .navbar-collapse.collapse.show {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 80px 40px 30px 40px;
  z-index: 1000 !important;
  background: var(--mw3);
}

header .navbar-collapse.collapse.show .nav-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 20px;
}

header .navbar-collapse.collapse.show .nav-item .nav-link {
  padding-bottom: 1px;
}

header .navbar-collapse.collapse.show .nav-item img {
  display: none;
}

header .navbar-collapse.collapse.show .nav-item .dropdownContent {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 1rem;
  transform: translateX(-10px);
}

header .navbar-collapse.collapse.show .nav-item .dropdownContent .link {
  margin: 5px 2px;
  color: var(--mw4) !important;
}

header .navbar-expand-md {
  padding-left: 5px;
}

header a {
  font-size: 1.1rem;
  color: var(--mw7) !important;
  font-weight: 300 !important;
}

header a img {
  height: 20px;
  width: 20px;
}

header a:hover {
  text-decoration: underline !important;
}

header .dropdownContent {
  display: none;
}

header > .navbar > .container > .navbar-nav .nav-item:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  text-align: left;
  background-color: var(--mw2);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  transform: translateX(-10px);
}

header > .navbar > .container > .navbar-nav .nav-item:hover .dropdownContent .link {
  margin: 5px 2px;
}

main {
  background: #fff;
  min-height: calc(100vh - 70px);
  overflow-x: hidden;
  width: 100vw !important;
}

main .hero {
  position: relative;
}

main .hero .hero-img {
  display: none;
}

main .hero .title-container {
  z-index: 100;
  margin: 30px 0 120px 0;
  display: block;
  position: relative;
}

main .hero .title-container .title {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0;
}

main .hero .title-container .title::after {
  content: "SECTION ESCALADE";
  position: absolute;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 200;
  top: 100%;
  left: 2px;
}

main .hero .title-container::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: -75px;
  left: 50%;
  height: calc(30px + 100% + 120px);
  width: 200%;
  transform: translateX(-50%) rotateZ(3deg);
  background: var(--mw3);
}

main .illustration {
  position: relative;
  display: block;
  max-width: 60%;
  margin: 80px auto 20px auto;
}

main .illustration-title {
  position: relative;
  display: block;
  font-size: 1.1rem;
  margin: 0 auto;
  text-align: center;
}

main h2.title {
  font-size: 1.6rem;
  font-weight: 400;
}

main p.paraph {
  color: var(--mw4);
  font-size: 1rem;
  font-weight: 300;
}

main .events {
  padding: 0;
}

main .forum-list {
  margin-top: 50px;
  padding: 30px 15px 20px 15px;
  background: var(--mw3);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

main .forum-list .forums-desc {
  padding: 0 15px 5px 15px;
}

main .PostsList .date-group {
  margin-top: 30px;
  font-weight: 300;
  font-size: 1rem;
}

footer {
  overflow-x: hidden;
  width: 100vw !important;
  position: relative;
  height: auto;
  margin-top: 60px;
  background: var(--mw3);
}

.card-forum {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px 15px;
  margin: 5px 0;
  transition: 0.2s;
  cursor: pointer;
}

.card-forum a:hover {
  text-decoration: none;
}

.card-forum .title {
  color: #3490dc;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 1.2rem;
}

.card-forum .desc {
  color: var(--mw5);
  font-size: 1rem;
  font-size: 200;
  margin-bottom: 0;
}

.card-forum:hover {
  -ms-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px;
  border-collapse: separate;
  background: var(--mw2);
}

.PageIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 20px;
}

.PageIntro-title {
  color: var(--mw7);
  font-weight: 400;
  font-size: 1.8rem !important;
}

.PageIntro-title .adminAction.edit {
  background: var(--success1);
}

.PageIntro-title .adminAction.edit img {
  filter: invert(100%);
}

.PageIntro-paraph {
  color: var(--mw4);
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
}

.PageIntro-backlink {
  position: relative;
  color: var(--mw6);
  padding-left: 18px;
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 300;
}

.PageIntro-backlink::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: url(/images/chevron-left.svg?1ed89d76a2cd16d89b0d4353a96911de);
  background-size: contain;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.PageIntro-backlink:hover {
  color: initial;
}

.BlogsList {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-bottom: 15px;
}

.BlogsList-title {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--mw6);
  padding-left: 3px;
}

.Blog {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--mw3);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 5px 10px 5px 0;
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}

.Blog > a {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  text-decoration: none;
}

.Blog:hover {
  -ms-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 20px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 20px 0px;
  border-collapse: separate;
}

.Blog:hover .Blog-adminActions {
  display: flex;
}

.Blog-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--mw7);
}

.Blog-desc {
  font-size: 1rem;
  font-weight: 300;
  color: var(--mw6);
  margin: 0;
}

.Blog-adminActions {
  z-index: 1000;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 100%;
  border-radius: 0 10px 10px 0;
  background: var(--success1);
}

.Blog-adminActions .edit-blog {
  background: var(--success1);
}

.Blog-adminActions .edit-blog img {
  filter: invert(100%);
}

.BlogsLayout-pageIntro {
  width: 100%;
}

.PostCard {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--mw3);
  border-radius: 10px;
  padding: 9px 13px;
  margin: 5px 0;
  transition: height 0.5s;
}

.PostCard .btn {
  color: var(--mw1);
  font-size: 0.9rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  word-wrap: none;
  line-break: none;
  padding: 4px 10px;
}

.PostCard .btn.disabled {
  cursor: initial;
}

.PostCard .btn.disabled:focus {
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-collapse: separate;
}

.PostCard .PostCard-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
  cursor: pointer;
}

.PostCard .PostCard-content h3 {
  font-size: 1rem;
  position: relative;
  font-weight: 400;
  margin: 3px 0;
  max-width: 60%;
}

.PostCard .PostCard-content h3::after {
  content: url("/assets/svg/chevron-down.svg");
  position: absolute;
  display: inline-block;
  height: 10px;
  padding-left: 7px;
  bottom: 11px;
  color: var(--mw3);
}

.PostCard .PostCard-content .particip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostCard .PostCard-content .nb-availables {
  display: none;
}

.PostCard .PostCard-content .join-post,
.PostCard .PostCard-content .login-user {
  background-color: var(--success1);
}

.PostCard .PostCard-content .unavailable-post {
  background-color: var(--danger1);
}

.PostCard .PostCard-more {
  display: none;
}

.PostCard .PostCard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7px;
}

.PostCard .PostCard-info .maxplaces {
  color: var(--mw4);
}

.PostCard .PostCard-info .location {
  font-size: 1rem;
}

.PostCard .PostCard-info .desc {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
  margin: 15px 0;
}

.PostCard .PostCard-adminInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  background: var(--mw6);
  border-radius: 7px;
  padding: 10px 15px;
  margin: 15px 0;
}

.PostCard .PostCard-adminInfo span {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--info2);
}

.PostCard .PostCard-adminInfo .availables {
  color: var(--success1);
}

.PostCard .PostCard-adminInfo .unavailables {
  color: var(--danger1);
}

.PostCard .PostCard-adminActions {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -8px;
  right: 20px;
  background: var(--success1);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.PostCard .PostCard-adminActions img {
  height: 20px;
  width: 20px;
}

.PostCard .PostCard-adminActions .edit-post {
  background: var(--success1);
}

.PostCard .PostCard-adminActions .edit-post img {
  filter: invert(100%);
}

.PostCard.open {
  border-radius: 10px 10px 0 0;
}

.PostCard.open .PostCard-content h3::after {
  content: url("/assets/svg/chevron-up.svg");
}

.PostCard.open .PostCard-more {
  z-index: 1000;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--mw3);
  border-radius: 0 0 10px 10px;
  padding: 10px 15px;
  width: 100%;
  -ms-box-shadow: rgba(0, 0, 0, 0.05) 0 5px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 5px;
  border-collapse: separate;
}

.ForumLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(135vh - 70px);
}

.ForumLayout-pageIntro {
  flex: 3;
}

.ForumLayout-messagesList {
  padding-top: 20px;
  flex: 8;
  overflow-y: scroll;
}

.ForumLayout-messageForm {
  flex: 1;
}

.MessageCard.theirMessage {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 20px;
}

.MessageCard.theirMessage .MessageCard-author .MessageCard-author-img {
  position: absolute;
  left: -24px;
  top: 0;
  height: 48px;
  width: 48px;
  border-radius: 50px;
}

.MessageCard.theirMessage .MessageCard-author .MessageCard-author-name {
  color: var(--mw4);
  font-weight: 300;
  font-size: 1rem;
  padding-left: 30px;
  margin-bottom: 2px;
}

.MessageCard.theirMessage .MessageCard-author .MessageCard-author-name:hover {
  text-decoration: underline;
}

.MessageCard.theirMessage .MessageCard-text {
  padding: 10px 20px 10px 30px;
  border-radius: 20px;
  margin: 0;
  background: var(--mw3);
  color: var(--mw7);
  font-weight: 300;
  font-size: 1.1rem;
}

.MessageCard.theirMessage .MessageCard-datetime {
  padding: 3px 0 0 5px;
  font-size: 0.7rem;
  color: var(--mw4);
}

.MessageCard.myMessage {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 24px;
  margin-bottom: 20px;
}

.MessageCard.myMessage .MessageCard-author .MessageCard-author-img {
  position: absolute;
  right: -24px;
  top: 0;
  height: 48px;
  width: 48px;
  border-radius: 50px;
}

.MessageCard.myMessage .MessageCard-author .MessageCard-author-name {
  display: none;
  color: var(--mw4);
  font-weight: 300;
  font-size: 1rem;
  padding-right: 30px;
  margin-bottom: 2px;
}

.MessageCard.myMessage .MessageCard-author .MessageCard-author-name:hover {
  text-decoration: underline;
}

.MessageCard.myMessage .MessageCard-text {
  padding: 10px 30px 10px 20px;
  border-radius: 20px;
  margin: 0;
  background: var(--mw3);
  color: var(--mw7);
  font-weight: 300;
  font-size: 1.1rem;
}

.MessageCard.myMessage .MessageCard-datetime {
  align-self: flex-end;
  padding: 3px 0 0 5px;
  font-size: 0.7rem;
  color: var(--mw4);
}

.MessageForm {
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 0;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.MessageForm input:focus,
.MessageForm button:focus {
  outline: none;
  border-width: 2px;
}

.MessageForm.inProgress {
  opacity: 0.5;
}

.MessageForm-input {
  flex: 4;
  min-width: 20px;
  border: 1px solid var(--mw4);
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.MessageForm-send {
  flex: 1;
  background: var(--mw6);
  border: 1px solid var(--mw6);
  border-radius: 10px;
  margin-left: 10px;
  color: var(--mw3);
  font-size: 1rem;
}

.ProfilLayout {
  min-height: calc(100vh - 70px);
}

.ProfilCard {
  margin-top: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--mw1);
  border-radius: 20px;
  padding: 20px 15px 30px 15px;
}

.ProfilCard-identity {
  position: relative;
}

.ProfilCard-actions {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
  margin: 20px 10px 0 10px;
}

.ProfilCard-actions div {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.ProfilCard-actions div #disconnect {
  border-color: var(--danger1);
  color: var(--danger1);
}

.ProfilCard-actions div #disconnect:hover {
  color: white;
  background: var(--danger1);
}

.ProfilCard-actions div #changePassword,
.ProfilCard-actions div #modifyProfil {
  background: var(--mw5);
  border-color: var(--mw5);
  margin-bottom: 5px;
}

.ProfilCard-actions div #changePassword:hover,
.ProfilCard-actions div #modifyProfil:hover {
  background: var(--mw6);
}

.ProfilCard-bio {
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 1rem;
  font-style: oblique;
  font-weight: 200;
  align-self: center;
}

.ProfilCard-bio.moreMargin {
  margin-top: 30px;
  margin-bottom: 20px;
}

.ProfilCard-bio blockquote {
  position: relative;
}

.ProfilCard-bio blockquote::before {
  position: absolute;
  top: -5px;
  left: -15px;
  height: 20px;
  width: 20px;
  background-image: url("/assets/svg/quote-left.svg");
  background-size: 20px 20px;
  content: "";
}

.ProfilCard-bio blockquote::after {
  position: absolute;
  bottom: 10px;
  right: -10px;
  height: 15px;
  width: 15px;
  background-image: url("/assets/svg/quote-right.svg");
  background-size: 15px 15px;
  content: "";
}

.IdentityBloc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IdentityBloc-img {
  position: absolute;
  top: -100px;
  height: 110px;
  width: 110px;
  border-radius: 100%;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px;
  border-collapse: separate;
}

.IdentityBloc-role {
  position: absolute;
  top: -3px;
  padding: 2px 7px;
  font-size: 0.7rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 15px;
  border-collapse: separate;
}

.IdentityBloc-role.climber {
  background: var(--success2);
  color: white;
}

.IdentityBloc-role.modo {
  background: var(--info2);
  color: white;
}

.IdentityBloc-role.admin {
  background: var(--danger1);
  color: white;
}

.IdentityBloc-name {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 0px;
}

.IdentityBloc-email {
  font-weight: 300;
  font-size: 1rem;
}

.InfoBloc-title {
  font-weight: 400;
  font-size: 1.4rem;
}

.InfoBloc-content {
  font-size: 1rem;
  font-weight: 300;
}

.ProfilEditionLayout {
  min-height: calc(100vh - 70px);
  padding-top: 20px;
}

.ProfilEditionLayout-actions {
  padding: 20px;
}

.ProfilEditionLayout-actions .backlink {
  margin-top: 10px;
}

.ProfilEditionLayout-actions .backlink:hover {
  border: 1px solid var(--mw4);
}

.ProfilEditionLayout-actions .btn-success {
  background: var(--success1);
  border: 1px solid var(--success1);
}

.ProfilEditionLayout-actions .btn-success:hover {
  border-color: var(--mw6);
}

.ProfilEditionCard {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--mw1);
  border-radius: 20px;
  margin: 8px;
  margin-top: 15px;
  padding: 20px 20px 30px 20px;
}

.ProfilEditionCard-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--mw7);
}

.ProfilEditionCard-title.little {
  font-size: 1.6rem;
  margin: 0 20px 10px 10px;
}

.ProfilEditionCard-desc {
  margin: 0 10px 0 10px;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--mw6);
}

.Field {
  margin: 15px 10px 0 10px;
  position: relative;
}

.Field.disabled .Field-input {
  pointer-events: none;
  color: var(--mw4) !important;
  border-bottom-color: var(--mw4) !important;
}

.Field.img .Field-label {
  position: relative;
  border-radius: 100%;
  cursor: pointer;
}

.Field.img .Field-label img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.Field.img .Field-label::before {
  content: "";
  background: url("/assets/svg/edit-2.svg");
  background-size: cover;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
  z-index: 50;
}

.Field.img .Field-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.71);
}

.Field.img .Field-input {
  display: none;
}

.Field.text,
.Field.password,
.Field.select,
.Field.textarea,
.Field.checkbox {
  display: flex;
  flex-direction: column;
}

.Field.text .Field-label,
.Field.password .Field-label,
.Field.select .Field-label,
.Field.textarea .Field-label,
.Field.checkbox .Field-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--mw6);
  font-weight: 400;
  font-size: 0.9rem;
}

.Field.text .Field-label.large,
.Field.password .Field-label.large,
.Field.select .Field-label.large,
.Field.textarea .Field-label.large,
.Field.checkbox .Field-label.large {
  font-size: 1.3rem !important;
}

.Field.text .Field-input,
.Field.password .Field-input,
.Field.select .Field-input,
.Field.textarea .Field-input,
.Field.checkbox .Field-input {
  color: var(--mw6);
  font-weight: 300;
  font-size: 1rem;
  border: none;
  background: none;
  border-bottom: 1px solid var(--mw4);
}

.Field.text .Field-info,
.Field.password .Field-info,
.Field.select .Field-info,
.Field.textarea .Field-info,
.Field.checkbox .Field-info {
  color: var(--mw4);
  font-weight: 300;
  font-size: 0.9rem;
}

.Field.text .Field-info.onFocus,
.Field.password .Field-info.onFocus,
.Field.select .Field-info.onFocus,
.Field.textarea .Field-info.onFocus,
.Field.checkbox .Field-info.onFocus {
  display: none;
}

.Field.text .Field-input:focus ~ .Field-info.onFocus,
.Field.password .Field-input:focus ~ .Field-info.onFocus,
.Field.select .Field-input:focus ~ .Field-info.onFocus,
.Field.textarea .Field-input:focus ~ .Field-info.onFocus,
.Field.checkbox .Field-input:focus ~ .Field-info.onFocus {
  margin-top: 2px;
  display: block;
}

.Field.checkbox .Field-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--mw6);
  font-weight: 400;
  font-size: 0.9rem;
}

.Field.checkbox .Field-label {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.Field.password .Field-toggleVisibility {
  position: absolute;
  cursor: pointer;
  right: 4px;
  height: 18px;
  width: 18px;
  top: 35px;
}

.Field-invalidFeedback {
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
  color: var(--danger0);
}

.FieldSection {
  margin-bottom: 30px;
}

.AuthLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.AuthLayout .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AuthLayout-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AuthForm {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AuthForm-title {
  margin: 30px 10px 5px 10px;
  font-weight: 400;
}

.AuthForm-actions {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 10px;
}

.AuthForm-actions .btn-white:hover {
  text-decoration: underline;
}

.AuthForm-actions .btn-dark {
  background: var(--mw6);
  margin-bottom: 10px;
}

.AuthForm-actions .btn-dark:hover {
  background: var(--mw7);
}

.AuthForm-info {
  margin-top: 10px;
  text-align: center;
}

.AuthLayout-leftImg img {
  height: calc(100vh - 70px);
}

.AuthLayout-rightImg img {
  height: calc(100vh - 70px);
}

.ErrorLayout {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.ErrorLayout-title {
  padding-top: 30px;
  font-size: 1.8rem;
  margin-bottom: 0px;
}

.ErrorLayout-code {
  color: var(--mw4);
  font-weight: 200;
  font-size: 1rem;
}

.ErrorLayout-desc {
  margin: 20px 0 10px 0;
  font-size: 1rem;
}

.ErrorLayout-altLinks {
  padding-left: 30px;
  font-size: 1.1rem;
}

.AboutLayout {
  min-height: calc(100vh - 70px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutLayout-title {
  font-size: 1.8rem;
  color: var(--mw6);
  font-weight: 500;
  text-align: left;
}

.AboutLayout h2,
.AboutLayout-subtitle {
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--mw6);
  font-weight: 400;
  text-align: left;
}

.AboutLayout-info {
  font-size: 1rem;
  color: var(--mw4);
  font-weight: 300;
}

.AboutLayout-section {
  font-size: 1rem;
  color: var(--mw5);
  max-width: 60ch;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 80px;
}

.AboutLayout p,
.AboutLayout-paraph {
  font-size: 1rem;
  color: var(--mw5);
  max-width: 60ch;
  text-align: left;
  margin-bottom: 1.5rem;
}

.AboutLayout-small {
  display: block;
  max-width: 100% !important;
  color: var(--mw4) !important;
  font-weight: 300;
  font-size: 0.9rem !important;
  line-height: 1.2;
  margin: 15px 0;
}

.AdminLayout-title {
  margin-top: 50px;
}

.AdminLayout-sectionTitle {
  margin-top: 30px;
  font-weight: 400;
}

.AdminLayout-usersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.UserCard {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--mw3);
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 10px;
}

.UserCard.level-1,
.UserCard.level-1 .UserCard-actions {
  border: 2px solid var(--success2);
}

.UserCard.level-2,
.UserCard.level-2 .UserCard-actions {
  border: 2px solid var(--info2);
}

.UserCard.level-3,
.UserCard.level-3 .UserCard-actions {
  border: 2px solid var(--danger2);
}

.UserCard:hover {
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-bottom: none;
}

.UserCard-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.UserCard-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.UserCard-name {
  padding: 0 10px;
  margin: 0;
  color: var(--mw7);
}

.UserCard-info {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.UserCard-level {
  padding: 0 11px;
}

.UserCard-level.level-1 {
  color: var(--success1);
}

.UserCard-level.level-2 {
  color: var(--info1);
}

.UserCard-level.level-3 {
  color: var(--danger1);
}

.UserCard-actions {
  display: none;
  position: absolute;
  top: 100%;
  left: -2px;
  width: calc(100% + 4px);
  background: var(--mw3);
  box-sizing: border-box;
  padding: 10px;
  z-index: 100;
}

.UserCard-delete {
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: var(--danger2);
  color: white;
  margin-top: 10px;
}

.UserCard-changeLevel {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.UserCard:hover .UserCard-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border-top: none;
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
}

